.form-control {
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
border-color: #d9d9d9 !important;
}
.form-control {

color: #555 !important;
background-color: #fff !important;
/* background-image: none; */
border: 1px solid #ccc !important;

}
.header {
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
border-bottom: 1px solid $dark-gray;
}