.reg-loader {
	width: 100%;
	height: 101%;
	display: block;
	position: absolute;
	background: $white;
	color: $orange;
	font-size: 9em;
	line-height: 200%;
	opacity: 0.5;
}
.login-loader {
	width: 100%;
	height: 101%;
	display: block;
	position: absolute;
	background: $white;
	color: $orange;
	font-size: 9em;
	line-height: 10%;
	opacity: 0.5;
}
.reg-success {
	width: 100%;
	height: 101%;
	display: block;
	position: absolute;
	background: $white;
}

.reg-form, .login-form {
	position: relative;
}

.reg-s-icon {
font-size: 10em;
color: $orange;
}