table.table.table-striped {
position: relative;
top: 35px;
}
.my-trips {
	height: 100%;
	position: relative;
}

.trip-button {
position: absolute;
right: 0;
}

.trip-step-1 {
margin: 0;
padding: 30px;
text-align: center;
}
.trip-check-form {
	position: relative;

	.trip-check-loader {
		position: absolute;
		width: 100%;
		height: 100%;
		background: $white;
		color: $orange;
		opacity: 0.8;
		z-index: 1;
		font-size: 6em;
		line-height: 300%;
	}

 }