 <!-- ******CONTACT MAIN****** --> 
        <section id="contact-main" class="contact-main section">
            <div class="container text-center">
                <h2 class="title">Get in touch with Transit<span style="color:#d4653a !important;">Buddy</span></h2>
                <p class="intro">We'd love to hear from you. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                <div class="row">
                    <div class="item col-md-4 col-sm-12 col-xs-12">
                        <div class="item-inner">
                            <div class="icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="details">
                                <h4>Email us at:</h4>
                                <p><a href="mailto:buddy@mytransitbuddy.com">buddy@mytransitbuddy.com</a></p>
                            </div><!--details-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-md-4 col-sm-12 col-xs-12">
                        <div class="item-inner">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="details">
                                <h4>Call us on:</h4>
                                <p class="phone">0800 123 456</p>
                                <p class="day">Mon-Sat 9am-6pm (GMT)</p>
                            </div><!--details-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-md-4 col-sm-12 col-xs-12 last">
                            <div class="item-inner">
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="details">
                                <h4>Find us at:</h4>
                                <p class="address">4 Akani Bashorun Street, Lekki Phase 1<br />Lagos, Nigeria</p>
                            </div><!--details-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-->      
        <section class="map-section">
            <div id="map"></div><!--//map-->
        </section><!--//map-->
         <!-- ******SIGNUP****** --> 
        <section id="signup" class="signup has-bg-color">
            <div class="container text-center">
                <h2 class="title">Ready to earn some cash with Transit<span style="color:#d4653a !important;">Buddy</span>?</h2>
                <p class="summary">Sign up to try Transit<span style="color:#d4653a !important;">Buddy</span>.</p>
                <form class="signup-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your email address">
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
                </form><!--//signup-form-->
            </div>
        </section><!--//signup-->