<div class="dashboard-top-nav">
				<div class="pull-left">
						<img class="profile-pic" src="../img/people/people-2.png">
						<span class="greeting">
							<p>Good Morning, <span class="name">Lucy</span></p>
							<p><a href="#">Change Picture</a></p>
						</span>
				</div>
				<div class="pull-right">
					<ul class="dasboard-top-items">
						<li>
							<div class="value">2</div>
							<div>Trip(s)</div>
						</li>
						<li>
							<div class="value">5</div>
							<div>Shipment(s)</div>
						</li>
						<li>
							<div class="value">2</div>
							<div>Request(s)</div>
						</li>
						<li>
							<div class="value">$234.56</div>
							<div>Earned</div>
						</li>
					</ul>
				</div>
			</div>