<div class="dashboard-nav">
			<ul class="dashboard-nav-items">
				<a href="#/dashboard/profile">
				<li class="dash-profile dash-nav">
						<div class="fa fa-user"></div>
						<div class="title">My Profile</div>
					</li>
				</a>
				<a href="#/dashboard/trips">
					<li class="active dash-trips dash-nav">
						<div class="fa fa-plane"></div>
						<div class="title">My Trips</div>
					</li>
				</a>
				<a href="#/dashboard/shipments">
					<li class="dash-shipments dash-nav">
						<div class="fa fa-cube"></div>
						<div class="title">My Shipments</div>
					</li>
				</a>
				<a href="#/dashboard/settings">
					<li class="last dash-settings dash-nav">
						<div class="fa fa-gears"></div>
						<div class="title">My Settings</div>
					</li>
				</a>
			</ul>
		</div>