<!-- ******PROMO****** --> 
        <section id="promo" class="promo section">
            <div class="container intro">
                <h2 class="title">Have more room in your suitcase?</h2>
                <p class="summary">Let us courier packages whilst earning some extra cash!</p>
                <a class="btn btn-cta btn-cta-secondary" href="tour.html">Learn More</a>
            </div><!--//intro-->
            
            <div class="fixed-container">
                <div class="signup">
                    <div class="container text-center">
                        <form class="signup-form">
                            <h3 class="title"><span style="color:#d4653a !important;">Track your package</span></h3>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter your Tracking ID">
                            </div>
                            <button type="submit" class="btn btn-cta btn-cta-primary">Track Now</button>
                        </form><!--//signup-form-->
                    </div><!--//contianer-->
                </div><!--//signup-->
                <div class="social text-center">
                    <div class="container">
                        <span class="line">Love Transit<span style="color:#000 !important;">Buddy</span>? Spread the word:</span> 
                        
                        <!--//twitter tweet button code starts -->
                        <div class="twitter-tweet">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="mytransitbuddy" data-hashtags="transitbuddy">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </div>
                        <!--//twitter tweet button code ends -->
                        
                        <!--//facebook like button code starts-->
                        <div class="fb-like" data-href="http://mytransitbuddy.com/Transit<span style='color:#d4653a !important;''>Buddy</span>/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" ></div>
                        <!--//facebook like button code ends-->      
                    </div>         
                </div><!--//social-->   
            </div>    
        </section><!--//promo-->
        
        <!-- ******PRESS****** --> 
         <!-- <div class="press">
            <div class="container text-center">
                <div class="row">
                    <ul class="list-unstyled">
                        <li class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img class="img-responsive" src="img/press/press-1.png" alt=""></a></li>
                        <li class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img class="img-responsive" src="img/press/press-2.png" alt=""></a></li>
                        <li class="col-md-2 col-sm-4 col-xs-6 xs-break"><a href="#"><img class="img-responsive" src="img/press/press-3.png" alt=""></a></li>                    
                        <li class="col-md-2 col-sm-4 col-xs-6 sm-break"><a href="#"><img class="img-responsive" src="img/press/press-4.png" alt=""></a></li>
                        <li class="col-md-2 col-sm-4 col-xs-6 xs-break"><a href="#"><img class="img-responsive" src="img/press/press-5.png" alt=""></a></li>
                        <li class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img class="img-responsive" src="img/press/press-6.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div> --> <!-- press  -->
            
        <!-- ******WHY****** --> 
        <section id="why" class="why section">
            <div class="container">
                <h2 class="title text-center">Why Use Transit<span style="color:#d4653a !important;">Buddy</span></h2>
                <p class="intro text-center">More than 10,000 happy customers are using Transit<span style="color:#d4653a !important;">Buddy</span> around the world</p>
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <div class="why-icon">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="caption">
                        <h3>Round the Clock Shipment</h3>
                        <p>We ship worldwide, wherever your favorite airlines travel!</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <div class="why-icon">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                        </span>
                        </div>
                      <div class="caption">
                        <h3>100% National Coverage</h3>
                        <p>No local pick-up? No problem! We'll ship a pre-paid box over to you!</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <div class="why-icon">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                        </span>
                        </div>
                      <div class="caption">
                        <h3>Security Guaranteed</h3>
                        <p>All packages are checked and are guranteed safe by our staff. We'll even insure them!</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div><!--//container-->
        </section><!--//why-->
        
        <!-- ******VIDEO****** --> 
        <section id="video" class="video section">
            <div class="container">
                <h2 class="title">Grow your business, start today!</h2>
                <p class="summary">If you have a promo video, you can put it in this block. Vitae dapibus elit viverra. Praesent ullamcorper dignissim arcu, at vulputate ligula suscipit eu.</p>
                <div class="control text-center">
                    <button class="play-trigger" data-toggle="modal" data-target="#tour-video"><i class="fa fa-play"></i></button>
                    <p>Watch Video</p>
                    
                    <!-- Video Modal -->
                    <div class="modal fade modal-video" id="tour-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 id="videoModalLabel" class="modal-title">Video Tour</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="video-container">
                                        <iframe src="//player.vimeo.com/video/32424882?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div><!--//video-container-->
                                </div><!--//modal-body-->
                            </div><!--//modal-content-->
                        </div><!--//modal-dialog-->
                    </div><!--//modal-->                    
                </div><!--//control-->
            </div>
        </section><!--//video-->
        
        <!-- ******FAQ****** --> 
        <section id="faq" class="faq section has-bg-color">
            <div class="container">
                <h2 class="title text-center">Frequently Asked Questions</h2>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i>Can I viverra sit amet quam eget lacinia?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq1">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon Transit<span style="color:#d4653a !important;">Buddy</span>r,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//panel-->
                
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i>What is the ipsum dolor sit amet quam tortor?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq2">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon Transit<span style="color:#d4653a !important;">Buddy</span>r,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//panel-->
                
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i>How does the morbi quam tortor work?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq3">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon Transit<span style="color:#d4653a !important;">Buddy</span>r,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//panel-->
                        
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i>Can I ipsum dolor sit amet nascetur ridiculus?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq4">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon Transit<span style="color:#d4653a !important;">Buddy</span>r,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//panel--> 
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i>Is it possible to tellus eget auctor condimentum?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq5">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon Transit<span style="color:#d4653a !important;">Buddy</span>r,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//panel-->
                
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-plus-square"></i>Would it elementum turpis semper imperdiet?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq6">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon Transit<span style="color:#d4653a !important;">Buddy</span>r,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//panel-->
                
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-plus-square"></i>How can I imperdiet lorem sem non nisl?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq7">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon Transit<span style="color:#d4653a !important;">Buddy</span>r,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//panel-->
                        
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq8"><i class="fa fa-plus-square"></i>Can I imperdiet massa ut?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq8">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon Transit<span style="color:#d4653a !important;">Buddy</span>r,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//panel--> 
                    </div>
                </div><!--//row-->
                <div class="more text-center">
                    <h4 class="title">More questions?</h4>
                    <a class="btn btn-cta btn-cta-secondary" href="contact.html">Get in touch</a>
                </div>
            </div><!--//container-->        
        </section><!--//faq-->
        
        <!-- ******SIGNUP****** --> 
        <section id="signup" class="signup">
            <div class="container text-center">
                <h2 class="title">Ready to earn some cash with Transit<span style="color:#d4653a !important;">Buddy</span>?</h2>
                <p class="summary">Sign up to try Transit<span style="color:#d4653a !important;">Buddy</span>.</p>
                <form class="signup-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your email address">
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
                </form><!--//signup-form-->
            </div>
        </section><!--//signup-->
            
    </div><!--//wrapper-->
    