<div class="wrapper">
        
        <!-- ******PRICE PLAN****** --> 
        <section id="price-plan" class="price-plan section">
            <div class="container text-center">
                <h2 class="title">See how Transit<span style="color:#d4653a !important;">Buddy</span> can help you earn!</h2>
                <p class="intro">The more you transit, the more you earn!</p>
                
            </div><!--//container-->
        </section><!--//price-plan-->
        
        <!-- ******FAQ****** --> 
        <section id="faq" class="faq section has-bg-color">
            <div class="container">
                
                <div class="more text-center">
                    <h4 class="title">Ready to become a Transit<span style="color:#d4653a !important;">Buddy</span>?</h4>
                    <a class="btn btn-cta btn-cta-secondary" href="#/signup">Signup now</a>
                </div>
            </div><!--//container-->        
        </section><!--//faq-->
         
        <!-- ******SIGNUP****** --> 
        
            
    </div><!--//wrapper-->