<div class="wrapper">
        
        <!-- ******PRICE PLAN****** --> 
        <section id="price-plan" class="price-plan section">
            <div class="container text-center">
                <h2 class="title">See how Transit<span style="color:#d4653a !important;">Buddy</span> can help you save!</h2>
                <p class="intro">Calculate your estimated cost* it's as easy as 1, 2, 3!</p>
                <div class="price-cols row">
                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <h3 class="heading">1. Item Info</h3>
                        <div class="content">
                           <div class="form-group">
                                <label>Item Category</label>
                               <select class="form-control item-cat">
                                    <option selected="true">Select a Category</option>
                                    <option val="Electronics">Electronics</option>
                                    <option val="Clothing">Clothing</option>
                                    <option val="Shoes">Shoes</option>
                                    <option val="Books">Books</option>
                                    <option val="Beauty">Hair &amp; Beauty</option>
                               </select>
                           </div>
                           <div class="form-group">
                                <label>Item Subcategory</label>
                               <select class="form-control item-subcat">
                                    <option selected="true">Selecte a Category Above</option>
                               </select>
                           </div>
                           
                            <div class="form-group">
                                <label>Item Weight (lbs)</label>
                               <input type="text" class="form-control item-lbs" placeholder="e.g. 2.5">
                               <h4> (<span class="item-kg-calc">0.0</span> kg)</h4>
                           </div>
                           <div class="form-group">
                                <label>Is your item insured?</label>
                               <select class="form-control item-insure">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                               </select>
                           </div>
                        </div><!--//content-->
                    </div><!--//item--> 
                    
                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <h3 class="heading">2. Delivery Info</h3>
                        <div class="content">
                          <div class="form-group">
                                <label>How soon do you need it?</label>
                                <select class="form-control item-speed" name="D-Speed"> 
                                    <option value="" selected="selected">Select an option</option> 
                                    <option value="0">24 - 48 hours</option> 
                                    <option value="1">48 - 72 hours</option> 
                                    <option value="2">within 1 week</option> 
                                    <option value="3">Not in a rush!</option> 
                                </select>
                                </div>
                                <div class="form-group">
                                <label>Item Location</label>
                                <div><small>We are piloting in select US cities*</small></div>
                                <select class="form-control item-origin" name="State"> 
                                    <option value="" selected="selected">Select an Origin</option> 
                                    <option value="GA">Atlanta, Georgia</option> 
                                    <option value="MD">Maryland - DMV Area</option> 
                                    <option value="MD">Washington, DC - DMV Area</option> 
                                    <option value="AZ">Virginia - DMV Area</option> 
                                    <option value="NC">North Carolina - RDU Area</option> 
                                    <option value="TX">Houston, Texas</option> 
                                </select>

                           </div>
                           <div class="form-group">
                                <label>Item Destination</label>
                                <div><small>Want another destination? <a href="#/contact">Ask Us!</a></small></div>
                                <select class="form-control item-dest">
                                    <option>Select a Destination</option>
                                    <option value="LOS">Lagos, Nigeria</option>
                                </select>
                           </div>
                           <div class="item-pricing-error-modal alert alert-danger fade in hide" role="alert">
                              <p class="item-pricing-error"></p>
                            </div>
                           <a class="btn btn-success item-pricing-calc">Calculate</a>
                        </div><!--//content-->
                    </div><!--//item-->  
                    
                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <h3 class="heading">3. Estimated Cost</h3>
                        <div class="content">
                            <small class="item-pricing-title">Please fill out the wizard to calculate a price</small>
                            <p class="price-figure"><span class="item-cur currency">$</span><span class="item-cost number ">0*</span></p>
                            <p class="toggle_cur"><a class="item-cost-ngn hide" href="#">in naira?</a><a class="item-cost-doll hide" href="#">in dollars?</a></p>
                            <a class="btn btn-cta btn-primary item-pricing-signup hide" href="#/signup">Sign Up <br /><span style="color:#fff;" class="extra">to ship this item</span></a>
                        </div><!--//content-->
                    </div><!--//item-->                     
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//price-plan-->
        
        <!-- ******FAQ****** --> 
        <section id="faq" class="faq section has-bg-color">
            <div class="container">
                <h2 class="title text-center">Frequently Asked Questions</h2>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i>Can I ship multiple items?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq1">
                                <div class="panel-body">
                                    Sure you can! The best part about Transit<span style="color:#d4653a !important;">Buddy</span> is that you are not bound to just one suitcase
                                    we will help you ship multiple items and get them all to you within your delivery timeline.
                                </div>
                            </div>
                        </div><!--//panel-->
                
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i>What areas do you service?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq2">
                                <div class="panel-body">
                                    Currently we support the following cities/areas for pickup:
                                    <ul>
                                        <li>Atlanta, Georgia</li> 
                                        <li>Maryland - DMV Area</li> 
                                        <li>Washington, DC - DMV Area</li> 
                                        <li>Virginia - DMV Area</li> 
                                        <li>North Carolina - RDU Area</li> 
                                        <li>Houston, Texas</li> 
                                    </ul>
                                    And delivery to:
                                    <ul> 
                                        <li>Lagos, Nigeria</li>
                                    </ul> 

                                    But don't fret! We are busy adding more cities. Want to see Transit<span style="color:#d4653a !important;">Buddy</span> in your area? <a href="#/contact">Tell Us!</a>.
                                </div>
                            </div>
                        </div><!--//panel-->
                
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i>How do you calculate shipment cost?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq3">
                                <div class="panel-body">
                                    We use our one of a kind shipment algroithim to calculate a shipment price based on criterias such as size, weight, and shipment speed to 
                                    provide you with a fair and comparitevly cheaper alternative for <span style="color:#d4653a !important;">SUPER FAST</span> international "shipping". 
                                </div>
                            </div>
                        </div><!--//panel-->
                        
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i>Can I <img src="img/icon.png" style="width:30px;">ransit multiple items?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq4">
                                <div class="panel-body">
                                    Ofcourse! Fill your baggage to your hearts content, the more items you <img src="img/icon.png" style="width:30px;">ransit, the more money you make!
                                </div>
                            </div>
                        </div><!--//panel--> 
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i>Are <img src="img/icon.png" style="width:30px;">ransited items insured?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq5">
                                <div class="panel-body">
                                    Yes! We partner with &nbsp; <a href="http://www.jet2insurance.com/"><img style="width:120px; position:relative; top:-2px;" src="img/jetlogo.png"></a> &nbsp; in order to bring you quality trip insurance, so fret no more! We've got you covered!
                                </div>
                            </div>
                        </div><!--//panel-->
                
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-plus-square"></i>Do I have to deliver the items I <img src="img/icon.png" style="width:30px;">ransit myself?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq6">
                                <div class="panel-body">
                                    Not at all! One of our Transit<span style="color:#d4653a !important;">Buddy</span> couriers will meet you at your destination airport and intercept all Transited items for delivery.
                                </div>
                            </div>
                        </div><!--//panel-->
                
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-plus-square"></i>How much money can I make as a Transit<span style="color:#d4653a !important;">Buddy</span>?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq7">
                                <div class="panel-body">
                                   Transit<span style="color:#d4653a !important;">Buddy</span> uses a flat rate payment system to determine how much our 'buddies' are paid. <a href="#/payments">Click here</a> to view our payment schedule.
                                </div>
                            </div>
                        </div><!--//panel-->
                        
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion"
                                data-toggle="collapse" class="panel-toggle" href="#faq8"><i class="fa fa-plus-square"></i>What if an item is lost or damaged during <img src="img/icon.png" style="width:30px;">ransit?</a></h4>
                            </div>
                
                            <div class="panel-collapse collapse" id="faq8">
                                <div class="panel-body">
                                    Although unlikely, if for any reason an item is lost or damaged, a claim will be filed and the owner will be reimbursed.
                                </div>
                            </div>
                        </div><!--//panel--> 
                    </div>
                </div><!--//row-->
                <div class="more text-center">
                    <h4 class="title">More questions?</h4>
                    <a class="btn btn-cta btn-cta-secondary" href="#/contact">Get in touch</a>
                </div>
            </div><!--//container-->        
        </section><!--//faq-->
         
        <!-- ******SIGNUP****** --> 
        <section id="signup" class="signup">
            <div class="container text-center">
                <h2 class="title">Ready to earn some cash with Transit<span style="color:#d4653a !important;">Buddy</span>?</h2>
                <p class="summary">Sign up to try Transit<span style="color:#d4653a !important;">Buddy</span>.</p>
                <form class="signup-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your email address">
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
                </form><!--//signup-form-->
            </div>
        </section><!--//signup-->
            
    </div><!--//wrapper-->