<div class="dashboard-bg">
	<div class="dashboard container">
		<div class="dashboard-nav">
	<ul class="dashboard-nav-items">
		<a href="#/dashboard/profile">
		<li class="dash-profile dash-nav">
				<div class="fa fa-user"></div>
				<div class="title">My Profile</div>
			</li>
		</a>
		<a href="#/dashboard/trips">
			<li class="dash-trips dash-nav">
				<div class="fa fa-plane"></div>
				<div class="title">My Trips</div>
			</li>
		</a>
		<a href="#/dashboard/transits">
			<li class="dash-transits dash-nav">
				<div><img style="width:40px;" src="img/icon.png"></div>
				<div class="title">My Transits</div>
			</li>
		</a>
		<a href="#/dashboard/shipments">
			<li class="dash-shipments dash-nav">
				<div class="fa fa-cube"></div>
				<div class="title">My Shipments</div>
			</li>
		</a>
		<a href="#/dashboard/settings">
			<li class="last dash-settings dash-nav">
				<div class="fa fa-gears"></div>
				<div class="title">My Settings</div>
			</li>
		</a>
	</ul>
</div>
		<div class="dashboard-body">
			<div ng-include src="'partials/dashboard-top-nav.html'"></div>
			<div class="dashboard-view">
				<div class="my-trips">
	<div class="pull-right">
		<button class="btn btn-primary trip-button" data-toggle="modal" data-target=".new-trip">Create Shipment</button>
		</div>
		<div class="row">
			<table class="table table-striped table-bordered">
		      <thead>
		        <tr>
		          <th>Tracking#</th>
		          <th>Items Shiped</th>
		          <th>Total Weight</th>
		          <th>Delivery Address</th>
		          <th>Due Date</th>
		          <th><img src="img/favicon.ico"> Status</th>
		          <th>Paid</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td><a href="#">TB-2404</a></td>
		          <td><a href="#">Laptop</a>, <a href="#">Shoes</a>, <a href="#">Book</a></td>
		          <td>7lbs 4oz</td>
		          <td>50A Canary Drive, Ikeja</td>
		          <td>Feb 15th, 2014</td>
		          <td><a href="#">Delivered</a></td>
		          <td>Yes</td>
		        </tr>
		        <tr>
		          <td><a href="#">TB-8203</a></td>
		          <td><a href="#">iPod</a></td>
		          <td>1lb 1oz</td>
		          <td>29B Charles Ifeanyi St, Lekki Phase 1</td>
		          <td>September 25th, 2014</td>
		          <td><a href="#">In Transit</a></td>
		          <td>Yes</td>
		        </tr>
		      </tbody>
		   </table>
			</div>
				<ul class="legend">
					<h4>Legend</h4>
				    <li class="wide"><span class="wide"><img style="width:40px" src="img/icon.png"> <strong>Status</strong></span> Where is this pacakge?</li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade new-trip" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="row trip-step-1">
	      
	       <form class="shipment-form">
	       		<div class="ship-step-1">
		           <div class="content">
		           		<h2>Step 1. Item Information</h2>
		           		<div class="form-group">
		           			
		           		</div>
                           <div class="form-group">
                                <label>Item Category</label>
                               <select class="form-control item-cat">
                                    <option selected="true">Select a Category</option>
                                    <option val="Electronics">Electronics</option>
                                    <option val="Clothing">Clothing</option>
                                    <option val="Shoes">Shoes</option>
                                    <option val="Books">Books</option>
                                    <option val="Beauty">Hair &amp; Beauty</option>
                               </select>
                           </div>
                           <div class="form-group">
                                <label>Item Subcategory</label>
                               <select class="form-control item-subcat">
                                    <option selected="true">Selecte a Category Above</option>
                               </select>
                           </div>
                           
                            <div class="form-group">
                                <label>Item Weight (lbs)</label>
                               <input type="text" class="form-control item-lbs" placeholder="e.g. 2.5">
                               <h4> (<span class="item-kg-calc">0.0</span> kg)</h4>
                           </div>
                           <div class="form-group">
                                <label>Is your item insured?</label>
                               <select class="form-control item-insure">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                               </select>
                           </div>
                           <button class="btn btn-primary">Next</button>
                        </div><!--//content-->
		        </div>
	        </form><!--//signup-form-->
	    </div>
    </div>
  </div>
</div>