 <!-- ******PRICE PLAN****** --> 
        <section id="price-plan" class="price-plan section">
            <div class="container text-center">
                <h2 class="title">Start using Transit<span style="color:#d4653a !important;">Buddy</span> today!</h2>
                <p class="intro">Fill out the fields below to complete your registration. If you already have a Transit<span style="color:#d4653a !important;">Buddy</span> account, <a href="login.html">login here</a>. </p>
                <div class="row">
                    <div class="facebook-signup">
                        <div class="icon">
                            <div class="why-icon3">
                              <i class="fa fa-facebook "></i>
                        </div>
                        </div>
                        <div class="title">
                            Sign up with Facebook
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="why-icon2 mb">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-text fa-stack-1x fa-inverse">OR</i>
                        </span>
                        </div>
                </div>
                <div class="row">
                    <div class="container text-center">
                        <form class="signup-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Repeat Password">
                            </div>
                            <div class="form-group">
                                <label><input type="checkbox"><span> I have read and accept the <a href="#">terms and conditions</a></span></label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-cta btn-cta-primary">Register Now</button>
                            </div>
                        </form><!--//signup-form-->
                </div><!--//signup-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//price-plan-->
        
         
