<div class="dashboard-bg">
	<div class="dashboard container">
		<div class="dashboard-nav">
	<ul class="dashboard-nav-items">
		<a href="#/dashboard/profile">
		<li class="dash-profile dash-nav">
				<div class="fa fa-user"></div>
				<div class="title">My Profile</div>
			</li>
		</a>
		<a href="#/dashboard/trips">
			<li class="dash-trips dash-nav">
				<div class="fa fa-plane"></div>
				<div class="title">My Trips</div>
			</li>
		</a>
		<a href="#/dashboard/transits">
			<li class="dash-transits dash-nav">
				<div><img style="width:40px;" src="img/icon.png"></div>
				<div class="title">My Requests</div>
			</li>
		</a>
		<a href="#/dashboard/shipments">
			<li class="dash-shipments dash-nav">
				<div class="fa fa-cube"></div>
				<div class="title">My Shipments</div>
			</li>
		</a>
		<a href="#/dashboard/settings">
			<li class="last dash-settings dash-nav">
				<div class="fa fa-gears"></div>
				<div class="title">My Settings</div>
			</li>
		</a>
	</ul>
</div>
		<div class="dashboard-body">
			<div ng-include src="'partials/dashboard-top-nav.html'"></div>
			<div class="dashboard-view">
				<div class="my-trips">
	<div class="pull-right">
		</div>
		<div class="row">
			<table class="table table-bordered">
		      <thead>
		        <tr>
		          <th>Tracking#</th>
		          <th>Items Shiped</th>
		          <th>Total Weight</th>
		          <th>Delivery Address</th>
		          <th>Due Date</th>
		          <th><img style="width:40px;" src="img/icon.png"> Action</th>
		        </tr>
		      </thead>
		      <tbody>
		      <tr class="info">
		          <td><a href="#">TB-5853</a></td>
		          <td><a href="#">Book</a></td>
		          <td>0lbs 2oz</td>
		          <td>50A Canary Drive, Ikeja</td>
		          <td>October 15th, 2014</td>
		          <td><button class="btn btn-primary btn-sm pull-left">Accept</button> <button class="btn btn-secondary btn-sm pull-right">Deny</button></td>
		        </tr>
		        <tr class="info">
		          <td><a href="#">TB-5397</a></td>
		          <td><a href="#">Shoes</a></td>
		          <td>0lb 9oz</td>
		          <td>29B Adebayo Doherety, Lekki Phase 1</td>
		          <td>December 25th, 2014</td>
		          <td><button class="btn btn-primary btn-sm pull-left">Accept</button> <button class="btn btn-secondary btn-sm pull-right">Deny</button></td>
		        </tr>
		        <tr>
		          <td><a href="#">TB-2404</a></td>
		          <td><a href="#">Laptop</a>, <a href="#">Shoes</a>, <a href="#">Book</a></td>
		          <td>7lbs 4oz</td>
		          <td>50A Canary Drive, Ikeja</td>
		          <td>Feb 15th, 2014</td>
		          <td class="text-danger">Expired</td>
		        </tr>
		        <tr>
		          <td><a href="#">TB-8203</a></td>
		          <td><a href="#">iPod</a></td>
		          <td>1lb 1oz</td>
		          <td>29B Charles Ifeanyi St, Lekki Phase 1</td>
		          <td>September 25th, 2014</td>
		          <td class="text-success">Completed</td>
		        </tr>
		      </tbody>
		   </table>
			</div>
			<div class="row">
				<ul class="legend">
					<h4>Legend</h4>
				    <li class="wide"><span class="wide"><img style="width:40px" src="img/icon.png"> <strong>Action</strong></span> Do you want to transit this shipment?</li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade new-trip" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="row trip-step-1">
	      <h1>Step 1. Get Flight</h1>
	       <form class="signup-form">
	            <div class="form-group">
	                <input type="text" class="form-control" placeholder="Flight/Tail # e.g. DL55">
	            </div>
	       		<div class="why-icon2 mb">
		            <span class="fa-stack fa-lg">
		              <i class="fa fa-circle fa-stack-2x"></i>
		              <i class="fa fa-text fa-stack-1x fa-inverse">OR</i>
		            </span>
	            </div>
	            <div class="form-group">
	            	<label>Origin</label>
	                <input type="text" class="form-control" placeholder="City or Airport Code">
	                <label>Destination</label>
	                <input type="text" class="form-control" placeholder="City or Airport Code">
	            </div>
	            <div class="form-group">
	                <button type="submit" class="btn btn-cta btn-cta-primary">Next</button>
	            </div>
	        </form><!--//signup-form-->
	    </div>
    </div>
  </div>
</div>