<div class="dashboard-bg">
	<div class="dashboard container">
		<div ng-include src="'partials/dashboard-nav.html'"></div>
		<div class="dashboard-body">
			<div ng-include src="'partials/dashboard-top-nav.html'"></div>
			<div class="dashboard-view">
				<div class="my-trips">
	<div class="pull-right">
		<button class="btn btn-primary trip-button">Add Trip</button>
	</div>
				<table class="table table-striped">
			      <thead>
			        <tr>
			          <th>Flight#</th>
			          <th>Departure Airport</th>
			          <th>Arrival Airport</th>
			          <th>Date</th>
			          <th>Departure</th>
			          <th>Arrival</th>
			          <th><img src="img/favicon.ico"></th>
			          <th>Bag Space</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>DL54</td>
			          <td>Hartsfield-Jackson Atlanta Intl (ATL)</td>
			          <td>Murutala Muhammad Intl (LOS)</td>
			          <td>Feb 15th, 2014</td>
			          <td>11:06PM</td>
			          <td>4:00PM</td>
			          <td>Yes</td>
			          <td><img src="img/buddy-small.png"></td>
			        </tr>
			        <tr>
			          <td>DL54</td>
			          <td>Hartsfield-Jackson Atlanta Intl (ATL)</td>
			          <td>Murutala Muhammad Intl (LOS)</td>
			          <td>May 30th, 2014</td>
			          <td>11:06PM</td>
			          <td>4:00PM</td>
			          <td>No</td>
			          <td><img src="img/buddy-small.png"> <img src="img/buddy-small.png"></td>
			        </tr>
			      </tbody>
			    </table>
			</div>

			</div>
		</div>
	</div>
</div>