<div class="dashboard-bg">
	<div class="dashboard container">
			<div class="dashboard-nav">
	<ul class="dashboard-nav-items">
		<a href="#/dashboard/profile">
		<li class="dash-profile dash-nav">
				<div class="fa fa-user"></div>
				<div class="title">My Profile</div>
			</li>
		</a>
		<a href="#/dashboard/trips">
			<li class="dash-trips dash-nav">
				<div class="fa fa-plane"></div>
				<div class="title">My Trips</div>
			</li>
		</a>
		<a href="#/dashboard/transits">
			<li class="dash-transits dash-nav">
				<div><img style="width:40px;" src="img/icon.png"></div>
				<div class="title">My Transits</div>
			</li>
		</a>
		<a href="#/dashboard/shipments">
			<li class="dash-shipments dash-nav">
				<div class="fa fa-cube"></div>
				<div class="title">My Shipments</div>
			</li>
		</a>
		<a href="#/dashboard/settings">
			<li class="last dash-settings dash-nav">
				<div class="fa fa-gears"></div>
				<div class="title">My Settings</div>
			</li>
		</a>
	</ul>
</div>
		<div class="dashboard-body">
			<div ng-include src="'partials/dashboard-top-nav.html'"></div>
			<div class="dashboard-view">
				<div class="my-trips">
	<div class="pull-right">
		<button class="btn btn-primary trip-button" data-toggle="modal" data-target=".new-trip">Add Trip</button>
		</div>
		<div class="row">
			<table class="table table-striped table-bordered">
		      <thead>
		        <tr>
		          <th>Flight#</th>
		          <th>Departure Airport</th>
		          <th>Arrival Airport</th>
		          <th>Date</th>
		          <th>Departure</th>
		          <th>Arrival</th>
		          <th><img style="width:40px;" src="img/icon.png"></th>
		          <th>Bag Space</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>DL54</td>
		          <td>Hartsfield-Jackson Atlanta Intl (ATL)</td>
		          <td>Murutala Muhammad Intl (LOS)</td>
		          <td>Feb 15th, 2014</td>
		          <td>11:06PM</td>
		          <td>4:00PM</td>
		          <td>Yes</td>
		          <td><img src="img/size1.png"></td>
		        </tr>
		        <tr>
		          <td>DL54</td>
		          <td>Hartsfield-Jackson Atlanta Intl (ATL)</td>
		          <td>Murutala Muhammad Intl (LOS)</td>
		          <td>May 30th, 2014</td>
		          <td>11:06PM</td>
		          <td>4:00PM</td>
		          <td>No</td>
		          <td><img src="img/size2.png"></td>
		        </tr>
		      </tbody>
		   </table>
			</div>
			<div class="row">
				<ul class="legend">
					<h4>Legend</h4>
				    <li><span><img src="img/size1.png"></span> Limited Space</li>
				    <li><span><img src="img/size2.png"></span> Some Space</li>
				    <li><span><img src="img/size3.png"></span> Ample Space</li>
				    <li><span><img style="width:40px" src="img/icon.png"></span> Transit any shipments?</li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade new-trip" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="row trip-step-1">
	      <h1>Step 1. Get Flight</h1>
	       <form class="signup-form trip-check-form">
	            <div class="form-group">
	            <div class="trip-check-loader">
	            	<div class="fa fa-spin fa-circle-o-notch"></div>
	            </div>
	                <input type="text" class="form-control" placeholder="Flight/Tail # e.g. DL55">
	            </div>
	       		<div class="why-icon2 mb">
		            <span class="fa-stack fa-lg">
		              <i class="fa fa-circle fa-stack-2x"></i>
		              <i class="fa fa-text fa-stack-1x fa-inverse">OR</i>
		            </span>
	            </div>
	            <div class="form-group">
	            	<label>Origin</label>
	                <input type="text" class="form-control" placeholder="City or Airport Code">
	                <label>Destination</label>
	                <input type="text" class="form-control" placeholder="City or Airport Code">
	            </div>
	            <div class="form-group">
	                <button type="submit" class="btn btn-cta btn-cta-primary">Next</button>
	            </div>
	        </form><!--//signup-form-->
	    </div>
    </div>
  </div>
</div>